*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    /* height: 10000px; */
}
.head{
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    margin-left: 40px;
}
.logo img{
    width: 168px;
    height: 79px;

}
.logo img:hover{
    cursor:pointer;
}

.navContainer{
    /* background-color: white; */
    /* height:30px; */
    /* justify-content: flex-end; */
    width: 50%;
    margin-right: 40px;
}
.navContainer nav{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navContainer nav a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
}
.navContainer nav a:hover{
    cursor: pointer;
}


.intro{

    background-image: url("/image/intro.jpg");
    height: 520px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}


.introLine{
    font-size: 60px;
    margin-bottom: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
}
.mid{
    font-size: 26px;
    color: white;
    letter-spacing:2px;
    margin-bottom: 50px;
}
.mid i{
    position: relative;
    top:4px;
}
.end{
    width: 702px;
    height: 69px;
    background-color: white;
    padding: 21px 19px;
    font-size: 23px;
    text-align: left;
    color: #323a44;
    cursor: pointer;
    border-radius: 5px;
}

.end i{
    left: 369px;
    position: relative;
    top: 4px;
}

.advantage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding-bottom: 40px;
}

.advantage h2{
    font-size: 43px;
    margin: 10px;
    margin-top: 70px;
    text-transform: uppercase;
}

.advantage p{
    font-size: 26px;
    /* margin: 10px; */
    margin-bottom: 47px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width:63%;
    flex-wrap: wrap;
}

.item{
    width:32%;
    /* border:2px solid black; */
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.item p{
    text-align: center;
    font-size: 20px;
    margin:15px;
}

.item img{
    margin-top: 25px;

}
.item h3{
    font-size: 18px;
    font-weight: bold;
    color: #70ad4d;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 19px;
}

.privilige{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("image/image2.jpg");
    /* background-image: url("image/image2.jpg"); */
    background-size: 100% 60%;
    background-repeat: no-repeat; 
     
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.privilige .supermiler_logo{
    width:400px;
    margin-left: 314px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.privilige h1{
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.privilige .premium{
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}

.privilige .earn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.privilige .earn img{
    width: 69px;
    margin-left: 4px;
}

/* .opacity{
   
    background-size: 100% 60% ;
    z-index: 10;
} */

.privilige .earn{
    height: 134px;
    background-color: white;
    width: 250px;
    margin-top: 50px;
}
.privilige .earn .heading{
    font-size: 22px;
    color: black;
    margin: 10px;
    margin-bottom: 20px;
}
.message{
    color: black;
    font-size: 18px;
    width: 250px;
    text-align: center;
    margin: 10px;
    margin-bottom: 40px;
}

.learnMore{
    width: 250px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 17px;
    margin-bottom: 40px;
}











.zoomcarWorks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.zoomcarWorks h2{
    font-size: 43px;
    margin: 10px;
    margin-top: 70px;
    text-transform: uppercase;
}

.zoomcarWorks p{
    font-size: 26px;
    /* margin: 10px; */
    margin-bottom: 47px;
}

.carWorksWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carWorksitem{
    width:18%;
    /* border:2px solid black; */
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.carWorksitem p{
    text-align: center;
    font-size: 20px;
    margin:15px;
}

.carWorksitem img{
    margin-top: 25px;

}
.carWorksitem h3{
    font-size: 21px;
    font-weight: bold;
    color: #0a0a0a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 19px;
}

.signup{
    width: 250px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 17px;
    margin: 30px;
    
}




.social{
    background-image: url("/image/social.jpg");
    height: 520px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 160px;   
}

.social h2{
    color: white;
    font-size: 30px;
    margin: 5px;
    text-transform: uppercase;
}
.social p{
    color: white;
    font-size: 20px;
    margin: 5px;
}

.social .images{
    display: flex;
    flex-direction: row;
    
    margin-top:60px;
}
.social .images img{
    width:170px;
    margin-right: 30px;
    cursor: pointer;
}










.statistics{
    background-color:#eee ;
    padding-top: 40px;
    padding-bottom: 40px;
}
.statisticsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.statisticitem{
    width:18%;
    /* border:2px solid black; */
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.statisticitem p{
    text-align: center;
    font-size: 20px;
    margin:15px;
}

.statisticitem img{
    margin-top: 25px;

}
.statisticitem h3{
    font-size: 21px;
    font-weight: bold;
    color: #0a0a0a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 19px;

}




.content{
    background-color: #33414f;
    padding-top: 27px;
}

.footerHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerHeading h4{
    font-size: 23px;
    color: white;
}

.footerWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footeritems{
    margin: 20px 75px;
}

.footeritems a{
    text-decoration: none;
    color: white;
    font-size: 23px;
     
    
}




/* slider */
.slider {
    max-width: 100rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
  
    /* IN THE END */
    overflow: hidden;
    
  }
  #section--3{
      background-image: url("image/testimonial.jpg");
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* THIS creates the animation! */
    transition: transform 1s;
  }
  
  
  
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
  
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  
  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
  }
  
  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }
  
  /* TESTIMONIALS */
  .testimonial {
    width: 65%;
    position: relative;
  }
  
  .testimonial::before {
    content: '\201C';
    position: absolute;
    top: -12.7rem;
    left: 28.2rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: #70ad4d;
    z-index: -1;

  }
  
  
  .testimonial__text {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
    color: #666;
  }
  
  .testimonial__author {
    margin-left: 27rem;
    font-style: normal;
    display: grid;
    grid-template-columns: 23.5rem 1fr;
    column-gap: 18rem;
    color: #70ad4d;
  }

  
  .testimonial__name {
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
  }
  
  .section__title--testimonials {
    margin-bottom: 4rem;
  }
  